.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.wrapper {
    width: 450px;
    margin: 0 auto;
    border-radius: 7px;
    padding: 20px 30px;
    padding-bottom: 40px;
    background-color: #4B4B4B;
    text-align: center;
}

.wrapper h2 {
    color: #FFB015;
}

.wrapper p {
    text-align: left;
    color: white;
    line-height: 20px;
    margin-bottom: 30px;
}

.button {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
