.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container video {
    width: 100%;
    height: auto;
}

.mic {
    position: absolute;
    bottom: 5px;
    right: 50px;
}

.mic:hover {
    cursor: pointer;
}
